<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Our team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>The Head</ion-list-header>

    <ion-item>
        <ion-avatar slot="start">
            <img src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
        </ion-avatar>
        <ion-label>
            <h3>Elsa</h3>
            <p>The Boss</p>
        </ion-label>
    </ion-item>

    <ion-list>
        <ion-list-header>The Hands</ion-list-header>

        <ion-item>
            <ion-avatar slot="end">
                <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1928&q=80"> 
            </ion-avatar>
            <ion-label>
                <h3>Christoph</h3>
                <p>Our graphic designer</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="end">
                <img src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
            </ion-avatar>
            <ion-label>
                <h3>Anna</h3>
                <p>Our Developer</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="end">
                <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            </ion-avatar>
            <ion-label>
                <h3>Olaph</h3>
                <p>Our commercial</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>